<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="/assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link
      href="/assets/css/app.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
      }

      .img-account-profile {
        height: 10rem;
      }

      .rounded-circle {
        border-radius: 50% !important;
      }

      .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
      }

      .card .card-header {
        font-weight: 500;
      }

      .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
      }

      .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
      }

      .form-control,
      .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
      }

      .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    </style>
    <title>chnage Password</title>
  </head>

  <body data-sidebar="dark">
    <%- include('include/header') %> <%- include('include/left-sidebar') %>

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="page-title-box">
                <h4>Change Password</h4>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Lexa</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Profile</a>
                  </li>
                  <li class="breadcrumb-item active">change Password</li>
                </ol>
              </div>
            </div>
            <div class="col-xl-12">
              <% if (error.length > 0) { %>
                <center>
                  <div style="color: red;">
                    <%= error %>
                  </div>
                </center>
                
              <% } %>
              <% if (error1.length > 0) { %>
                <center>
                  <div style="color: red;">
                    <%= error1 %>
                  </div>
                </center>
                
              <% } %>
              <% if (success.length > 0) { %>
                <center>
                  <div style="color: red;">
                    <%=success  %>
                  </div>
                </center>
                s
              <% } %>
              <!-- Account details card-->
              <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                  <form action="/testing/changePassword" method="post">
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="inputUsername"
                        >Password</label
                      >
                      <input
                        class="form-control"
                        id="inputUsername"
                        type="password  "
                        placeholder="Password"
                        name="oldPassword"
                      />
                    </div>

                    <div class="mb-3">
                      <label class="small mb-1" for="inputEmailAddress"
                        >New Password</label
                      >
                      <input
                        class="form-control"
                        id="inputEmailAddress"
                        type="password"
                        placeholder="Password"
                        name="newPassword"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="inputEmailAddress"
                        >Confirm Password</label
                      >
                      <input
                        class="form-control"
                        id="inputEmailAddress"
                        type="password"
                        placeholder="Password"
                        name="cnfPassword"
                      />
                    </div>

                    <button class="btn btn-primary" type="submit">
                      Save changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('include/footer') %>

    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>

    <!-- <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script> -->

    <!--Morris Chart-->
    <!-- <script src="/assets/libs/morris.js/morris.min.js"></script>
    <script src="/assets/libs/raphael/raphael.min.js"></script>

    <script src="/assets/js/pages/dashboard.init.js"></script> -->

    <script src="/assets/js/app.js"></script>
  </body>
</html>
